In [47]:
import pandas as pd
df = pd.read_excel("BusMetadata_dummy.xlsx")
df

   DomainName BusinessTerm BusinessDesc
0          D1        btd11    btd11desc
1          D1        btd12    btd12desc
2          D1        btd13    btd13desc
3          D2        btd21    btd21desc
4          D2        btd22    btd22desc
5          D2        btd23    btd23desc
6          D3        btd31    btd31desc
7          D3        btd32    btd32desc
8          D4        btd41    btd41desc
9          D4        btd42    btd42desc
10         D4        btd43    btd43desc
11         D4        btd44    btd44desc

In [48]:
convert_dict = {'DomainName': str,
                'BusinessTerm': str,
                'BusinessDesc' : str
               }
df = df.astype(convert_dict)

In [49]:
#pip install sqlalchemy

In [50]:
#import sqlalchemy as sql

In [51]:
#%load_ext sql

In [52]:
#%sql mssql+pyodbc://pv2612:classproject@SQL/Business_Metadata?driver=SQL+Server

In [53]:
#For using mssql
import pyodbc

connection = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER=PV-DESKTOP\SQLSERVERDEV19;DATABASE=Business_Metadata_1;UID=pv2612;PWD=classproject')

In [54]:
cursor=connection.cursor()

In [55]:
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.TABLES")

In [56]:
for i in cursor:
    print(i)

('Business_Metadata_1', 'dbo', 'Domain', 'BASE TABLE')
('Business_Metadata_1', 'dbo', 'BusinessTerms', 'BASE TABLE')
('Business_Metadata_1', 'dbo', 'DomainTermsRelationShip', 'BASE TABLE')

### Domain table

In [57]:
# read data for domain table
domList = df.DomainName.unique()
domList

array(['D1', 'D2', 'D3', 'D4'], dtype=object)

In [58]:
for i in domList:
    print(i)

D1
D2
D3
D4

In [59]:
query = "INSERT INTO Domain (Description) values(?)"
for row in domList:
    cursor.execute(query, row)
cursor.commit()

In [60]:
cursor.execute("select * from Domain");

In [61]:
domain = {};
for i in cursor:
    print(i[0],i[1]);
    domain[i[0]]=(i[1]);

1 D1
2 D2
3 D3
4 D4

In [62]:
domain

{1: 'D1', 2: 'D2', 3: 'D3', 4: 'D4'}

In [63]:
def get_key(val,dicti):
    for key, value in dicti.items():
         if val == value:
             return key
 
    return "key doesn't exist"

In [64]:
get_key('D4',domain)

4

### BusinessTerms table

In [65]:
#need to handle if duplicates exist in business terms
query = "Insert into BusinessTerms (Business_Term, Term_Description) values(?,?)";
for row in df.iterrows():
    val = (row[1][1], row[1][2]);
    cursor.execute(query,val);
connection.commit()

In [66]:
cursor.execute("select * from BusinessTerms");

In [67]:
busterms = {}; #key:bustermId; val:busTerm
for i in cursor:
    print(i[0],i[1],i[2]);
    busterms[i[0]]=(i[1]);

100 btd11 btd11desc
101 btd12 btd12desc
102 btd13 btd13desc
103 btd21 btd21desc
104 btd22 btd22desc
105 btd23 btd23desc
106 btd31 btd31desc
107 btd32 btd32desc
108 btd41 btd41desc
109 btd42 btd42desc
110 btd43 btd43desc
111 btd44 btd44desc

In [68]:
get_key('btd42',busterms)

109

### DomainTermsRelationShip table

In [69]:
query = "Insert into DomainTermsRelationShip (DomainId, BusTermId) values(?,?)";
for row in df.iterrows():
    domainName = row[1][0]
    busTermName = row[1][1]
    domId = get_key(domainName,domain)
    busId = get_key(busTermName,busterms)
    val = (domId,busId)
    cursor.execute(query,val)
connection.commit()

In [70]:
cursor.execute("select * from DomainTermsRelationShip");

In [71]:
for i in cursor:
    print(i)

(1, 100)
(1, 101)
(1, 102)
(2, 103)
(2, 104)
(2, 105)
(3, 106)
(3, 107)
(4, 108)
(4, 109)
(4, 110)
(4, 111)